<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <p>Explore our service project categories:</p>
        <ul>
            <li>Environmental</li>
            <li>Educational</li>
            <li>Community Service</li>
            <li>Health and Wellness</li>
        </ul>
    </main>
    <%- include('partials/footer') %>
